h3 uid:
	span(id="uid")
input(id="clean", type="button", name="clean", value="清空", onclick="ttt();$('#pool').empty()")
#pool
#stage
script(type="text/javascript", src="/socket.io/socket.io.js")
script(type="text/javascript", src="/js/client.js")